<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="tmpl/header :: header_meta">
</head>
<body>
<nav th:replace="tmpl/header :: breadcrumb('System','Role Edit')"></nav>
<article class="page-container">
    <form  th:action="@{/admin/role/update}" method="post" class="form form-horizontal" id="form-member-add" >
        <div class="row cl" id="prev_num">
            <input type="hidden" name="id" th:value="${item.id}" />
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>Name：</label>
                <div class="formControls col-xs-4 col-sm-4">
                    <input type="text" class="input-text"   placeholder="" name="name" th:value="${item.name}">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>Description：</label>
                <div class="formControls col-xs-4 col-sm-4">
                    <input type="text" class="input-text"  placeholder=""   name="description" th:value="${item.description}">
                </div>
            </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;Submit&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<footer th:include="tmpl/footer :: footer_script"></footer>

<script type="text/javascript">
    $(function(){

    });
</script>
</body>
</html>